/* .popup{
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #00000077;
    z-index: 1000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

}
.popup-groups{
    position: fixed;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: #00000077;
    z-index: 1000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.popup__container{
    width: 450px;
    height: 333px;
    background-color: #36aee0;
    border-radius: 35px;
    justify-items: center;
    align-content: center;

}

.popup__request-call{
    text-align: center;
    font-size: 24px;
    font-family: Fregat, serif;
    font-weight: bold;
    margin-top: 37px;
    color: #ffffff;
}
.popup__body-name{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 340px;
    height: 51px;
    border-radius: 10px;
    border: none;
	background-color: rgb(255, 255, 255);
	box-shadow: inset 0px 5px 5px 0px rgba(3, 3, 3, 0.13);
}

.popup__body-tel{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 340px;
    height: 51px;
    margin-top: 22px;
    border-radius: 10px;
    border: none;
	background-color: rgb(255, 255, 255);
	box-shadow: inset 0px 5px 5px 0px rgba(3, 3, 3, 0.13);
}
.popup__body-submit{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 340px;
    height: 64px;
    background-color: #ef7c00;
    color: #ffffff;
    border: none;
    font-family: Fregat, serif;
    margin-top: 25px;
    border-radius: 28px;
    font-size: 20px;
    font-weight: bold;
} */

.ui-dialog{
    width: 450px !important;
    height: 333px !important;
    justify-items: center !important;
    align-content: center !important;
    position: relative !important;
    margin-left: auto !important;
    margin-right: auto !important;
    
}
.ui-widget-header{
    display: none;
}
.ui-widget-content{
    background-color: #36aee0 !important;
    border: none !important;
    background-image: none !important;
}
.ui-corner-all{
    border-radius: 35px !important;
}
.ui-dialog-content{
    border-radius: 35px !important;
}

.dialog__request-call{
    text-align: center;
    color: #ffffff;
    font-size: 24px;
}
.dialog__body-name{
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 340px;
    border-radius: 10px;
    border: none;
    height: 51px;
}
.dialog__body-tel{
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 340px;
    margin-top: 22px;
    border-radius: 10px;
    border: none;
    height: 51px;
}
.dialog__submit{
    width: 340px !important;
    height: 64px !important;
    border-radius: 28px !important;
    border: none !important;
    background: #ef7c00 !important;
    color: #ffffff !important;
    margin-top: 25px;
    position: relative !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    cursor: pointer;
}
.ui-widget-overlay,
.ui-front{
    z-index: 10000 !important;
}
.dialog__body-name, .dialog__body-tel{
    padding-left: 50px !important;
	font-family: Lobster, serif !important;
	font-size: 20px !important;
}
